<%- include('partials/header.ejs') %>

<h1>Discover</h1>

<form action="/discover" method="post">
    <div>
        <input id="search-input" name="search" type="text" placeholder="Search">
        <button id="submit-btn" type="submit">Search</button>
    </div>
</form>

<div id="search-results">

</div>







<script>
// Query DOM
const searchInput = document.getElementById("search-input");
const searchResults = document.getElementById("search-results")



// Make Connection
// const socket = io.connect("http://localhost:3000", {
    const socket = io.connect(window.location.origin, {
    transports: ["websocket","webtransport"],
    addTrailingSlash: false,
});

// Emit Events
document.addEventListener('keyup', function(event){
    if (event.target.matches('input')) {
        
        socket.emit('search',{
            searchData: searchInput.value,
        });

    };
});

// Listen for emits from backend
    socket.on('search-room', function(data){
        socket.emit('search-room', data)
    });

    socket.on('appUsers', function(data){
        console.log(data);
        searchResults.innerHTML = ""
        data.forEach(user => {
            searchResults.innerHTML +=
        "<div id=foundUser><p><a href=/profile/"+user.username+">"+user.username+"</a></p></div>"
        });
        if (data.length === 0) {
            searchResults.innerHTML = ""
        }
        if (searchInput.value === ""){
            searchResults.innerHTML = "";
        }

    })



</script>

<div id="fixed-tab">
    <a href="/home"><i class="fa-solid fa-house tab-icon"></i></a> 
    <a href="/discover"><i class="fa-solid fa-magnifying-glass tab-icon"></i></a>
    <a href="/upload"><i class="fa-solid fa-upload tab-icon"></i></a>
    <a href="/messages"><i class="fa-regular fa-comment tab-icon"></i></a>
    <a href="/profile/"><i class="fa-regular fa-user tab-icon"></i></a>
</div>

</body>
</html>