<%- include('partials/header.ejs') %>


<div class="row">
    <div class="col">
        <div class="">
            <div>
            <h1>Wando</h1>
            <h1>On!</h1>
            </div>            
            <div>
            </div>
        </div>

    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-block btn-social btn-google" href="/auth/google"><i class="fab fa-google"></i>Sign In with Google</a>
            </div>
            <div class="card-body">
                <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook"><i class="fab fa-facebook"></i>Sign In with Facebook</a>
            </div>
            <div class="card-body">
                <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter"><i class="fab fa-twitter"></i>Sign In with twitter</a>
            </div>
            <br>
            <p>or</p>

            <a class="btn btn-dark" href="/signup">Create Account</a>
            
            <p>By signing up to Wando you agree to our <a href="/policy/">Mode of operation</a> and <a href="/policy/">Terms of service</a>. Please note that <a href="/policy/">Cookies</a> are used to give our members better user experience. You can read up on more on our <a href="/policy">Policy</a> page.
            </p>                

            <h5>Have an account?</h5>
            <a class="btn btn-info" href="/login">Log in</a>

            
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>