<%- include('partials/header.ejs') %>

    <div class="col">
        <div class="card" id="signup form">
            <div class="card-header">
                <h1 class="card-title">Wando</h1>
                <p class="card-text">Sign up to Wando today and find communities where you feel at home</p>
            </div>

            <form action="/signup" id="signupForm" method="POST">
                <div class="mb-2">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <span id="emailError"></span>
                </div> 
                <div class="mb-2">
                    <input type="text" name="fullname" id="fullname" placeholder="Fullname" minlength="2" required>
                    <span id="fullnameError"></span>
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder="Username" minlength="2" required>
                    <span id="usernameError"></span>
                </div>
                <div class="mb-2">
                    <input type="password" name="password" placeholder="Password" minlength="4" required>
                </div>

                <button class="btn btn-dark" type="submit" onsubmit="return false" id="signupBtn" >Sign Up</button>
            </form>

                <h1>OR</h1>

            <div>
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-google" href="/auth/google"><i class="fab fa-google"></i>Sign up with Google</a>
                </div>
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook"><i class="fab fa-facebook"></i>Sign up with Facebook</a>
                </div>
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter"><i class="fab fa-twitter"></i>Sign up with Twitter</a>
                </div>
            </div>
        </div>

    </div>

    <script>
        const email = document.getElementById('email');
        const fullname = document.getElementById('fullname')
        const username = document.getElementById('username');
        const password = document.getElementById('password')
        const signupBtn = document.getElementById('signupBtn')
        const signupForm = document.getElementById('signupForm');

        // const onsubmitString = signupBtn.onsubmit.toString()
        // console.log(onsubmitString)
        // console.log(onsubmitString.slice(34, -2))
        

        if ((signupBtn.onsubmit).toString()) {
            
        } else {
            
        }

        

        // Connect to the backend 
        const socket = io.connect("http://localhost:3000", {
            transports: ["websocket","webtransport"],
            addTrailingSlash: false,
        });

        // Emit Events 
        document.addEventListener('keyup', function(event){
            if (event.target.matches('#username')) {
                socket.emit('createUsername',{
                    newUsername: username.value,
                });
            };
        })

            setInterval(function(){
                socket.emit('signupFormCheck', {
                    email: email.value,
                    username: username.value
                })                
            },500
            )

   




        // Listen for events
        socket.on('createUsername', function(data){

            switch (data) {
                case 'available':
                document.getElementById('usernameError').innerHTML= '<em style="color: green;">Available</em>';
              break;
                case 'unavailable':
                    document.getElementById('usernameError').innerHTML= '<em style="color: red;">This Username has already been taken.</em>';
                    
                    break;
                default:
                    break;
            }
        });





        socket.on('signupFormCheck', function(data){

            var expr = /^[a-z0-9._]*$/;

            if (data.status==='valid' && expr.test(username.value)) {
                // console.log(data.status);
                signupForm.setAttribute('onsubmit', "return true;");


                    document.getElementById('emailError').innerHTML= '';

            }else{
                // console.log(data.status)
                signupForm.setAttribute('onsubmit', "return false;");
                if (data.emailError > 0) {
                    document.getElementById('emailError').innerHTML= '<em style="color: red;">This email has already used to create an account.</em>';
                    };
                if (data.usernameError > 0) {
                    // alert("Please choose another username that one has been taken.")
                }
                if (!(expr.test(username.value))) {
                    document.getElementById('usernameError').innerHTML= '<em style="color: red;">Username can only have lowercase characters, numbers, periods and under scores.</em>';
                };
            };

            // if (data.status==='invalid' || !(expr.test(username.value))) {

            // };


        });
    </script>




<%- include('partials/footer.ejs') %>