body {
    background-color: rgb(85, 28, 99);
    font-family: poppins;
    color: white;
}

.navbar-brand{
    font-family: Agbalumo;
    font-size: 30px;
}

footer{
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
    padding: 25px 0 10px 0;
    background-color: #40164b;
}

footer a{
    text-decoration: none;
}